    {% extends "base.html" %}

    {% block content %}
	<div class="row-fluid">
		<div class="row-fluid">

			<div class="hero-unit">
	    		<div class="span5 banner"></div>

				<div class="span7">
					<h1></h1>
						<p></p>
		           		<p class="noLink"><a class="btn btn-primary btn-large">
						Read more »</a></p>
				</div>

				<div class="clearfix"></div>

			</div>
		</div>
    </div>
    <!--end row-->

	<!--start row-->
    <div class="row-fluid">
		<div class="hero-unit smallerTopPadding">
	        <h3>In our site you will find the files associated with heavy equipment and technical means. all can be obtained free of charge.<br/>
Archive: A | B | C | D | E | F | G | H | I | J | K | L | M | N | O | P | Q | R | S | T | U | V | W | X | Y | Z | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | </h3>

		</div>
    </div>
    <!--end row-->


    {% endblock %}
